{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for project in user.projects %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="well">
                    <h2>{{ project.name }}</h2>
                    <p>
                        {{ project.description }}
                    </p>
                    <a class="btn btn-default" href="{{ path('project_index', {'id': project.id}) }}">Zum Projekt</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
